      
<h1 class="studentSignInHeading">Enter Student Details</h1>
<div class="row row-right ">
  
  <div class="form-group col-md-6 row-student" > 
    
    <label for="student-name">Student Name</label>    
        
        <input type="name" class="form-control"
        id="student-name"
     
        placeholder="Enter Student Name">
      
    </div>

  <div class="form-group col-md-6 row-student">    
     <label for="enroll">Enrollment no.</label> 
  
        <input type="name" class="form-control"
          id="enroll" 
          
          placeholder="Enter your Enrollment number">
  </div>
                        
  <div class="form-group col-md-8 row-student">    
     <label for="Address">Address</label>
     <input type="name" class="form-control" id="Address" 
     placeholder="Enter your Address">
  
  </div>
 
  
  

  <div class="form-group col-md-4 row-student">    
      <label for="cont-no">Contact No.</label>
      <input type="number" class="form-control" id="cont-no" 
      placeholder="Enter your Contact Number">
  </div>
  
  <div class="form-group col-md-4 row-student">    
     <label for="aadhar">Aadhar No.</label>
      <input type="number" class="form-control" id="aadhar" 
      placeholder="Enter your Aadhar Number">
  </div>

  <div class="form-group col-md-4 row-student">    
     <label for="email">E-mail</label>
     <input type="email" class="form-control" id="email" 
     placeholder="Enter your E-mail ">     
  </div>


       <!-- Form code begins -->
       
         <div class="form-group col-md-4 row-student"> <!-- Date input -->
           <label class="control-label" for="date">Date Of Birth</label>
           <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
         </div>
         
        
        <!-- Form code ends --> 
   
       
    
     <div class="form-check col-md-10 ">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1" >Yes,I am agree with all the terms & conditions regarding this website </label>
    </div>
    
     
    <div class="form-check col-md-5 ">
    <br>
       <a href="#"><button type="submit" id="btn-signin"class="btn btn-primary btnModify"
        >Sign  in</button></a>
      </div>
      <!-- <p *ngIf="schoolName && schoolCode === ''">Enter Details  Correctly</p> -->
      <!-- <p *ngIf="msgCondition==='true'">password is not matching</p> -->
      
    </div> 