<h1 class="studentSignInHeading">Enter Admin Details</h1>
<div class="row row-right ">
  
  <div class="form-group col-md-6  row-student" > 
    
    <label for="admin-name">Admin Name</label>    
        
        <input type="name" class="form-control"
        id="admin-name"
     
        placeholder="Enter Admin Name">
      
    </div>

                        
  <div class="form-group col-md-6 row-student">    
     <label for="Address">Address</label>
     <input type="name" class="form-control" id="Address" 
     placeholder="Enter your Address">
  
  </div>
 
  
  <div class="form-group col-md-6 row-student">    
    <label for="pin">Pin code.</label>
    <input type="number" class="form-control" id="pin" 
    
    placeholder="Enter Pin Code">
</div>

  <div class="form-group col-md-6 row-student">    
      <label for="cont-no">Contact No.</label>
      <input type="number" class="form-control" id="cont-no" 
      placeholder="Enter your Contact Number">
  </div>
  
  <div class="form-group col-md-6  row-student" > 
    
    <label for="principal-name">Principal Name</label>    
        
        <input type="name" class="form-control"
        id="principal-name"
     
        placeholder="Enter Principal Name">
      
    </div>
    <div class="form-group col-md-6 row-student">    
      <label for="Pcont-no">Principal Contact No.</label>
      <input type="number" class="form-control" id="Pcont-no" 
      placeholder="Enter Principal Contact Number">
  </div>

  <div class="form-group col-md-6 row-student">    
     <label for="aadhar">Aadhar No.</label>
      <input type="number" class="form-control" id="aadhar" 
      placeholder="Enter your Aadhar Number">
  </div>

  <div class="form-group col-md-6 row-student">    
     <label for="email">E-mail</label>
     <input type="email" class="form-control" id="email" 
     placeholder="Enter your E-mail ">     
  </div>

  <div class="form-group col-md-6  row-student" > 
    
    <label for="username">Username</label>    
        
        <input type="name" class="form-control"
        id="username"
     
        placeholder="Enter Username">
      
    </div>

    <div class="form-group col-md-6  row-student" > 
    
      <label for="password">Password</label>    
          
          <input type="password" class="form-control"
          id="password"
       
          placeholder="Enter Password">
        
      </div>
      
    
     <div class="form-check col-md-10 ">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1" >Yes,I am agree with all the terms & conditions regarding this website </label>
    </div>
    
     
    <div class="form-check col-md-5 ">
    <br>
       <a href="#"><button type="submit" id="btn-signin"class="btn btn-primary btnModify"
        >Sign  in</button></a>
      </div>
      <!-- <p *ngIf="schoolName && schoolCode === ''">Enter Details  Correctly</p> -->
      <!-- <p *ngIf="msgCondition==='true'">password is not matching</p> -->
      
    </div> 