<div class="row">
    <div class="col-md-8 advissColumn">
      <h1 class="advissTitle">ADVISS </h1>
      <p class="aboutAdviss">We are Providing Your Child's Personal Activity Via CCTV So Parent Can See Their Child's Activity in their Device via ADVISS</p>
      <button class="btn btn-danger btn-option1"  >Student</button>
      <button class="btn btn-dark btn-option2" >Clerk</button>
      <button class="btn btn-danger btn-option3" >Faculty</button>
      <button class="btn btn-dark btn-option4" >Admin</button>
    </div>
    </div>
